$font-family: "Roboto", arial;
$default-font-size: 18px;

$body-bg-color: #F5F5F5;
$body-text-color: #333333;

$actions-and-buttons-color: #0071BB;

// menu
$menu-height: 60px;

// breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-ls: 1200px;